//Box Shadow
$bs1: 0 1px 4px rgba(0, 0, 0, 0.03);
$bs2: 0 10px 25px rgba(0, 0, 0, 0.15);

//Border-radius
$br1: 3px;

// Global Colours
$primary: rgb(148, 207, 203);
$secondary: rgb(255, 182, 193);
$white: rgb(251, 251, 251);
$error: salmon;
