//Box Shadow
$bs1: 0 1px 4px rgba(0, 0, 0, 0.03);
$bs2: 0 10px 25px rgba(0, 0, 0, 0.15);

//Border-radius
$br1: 3px;

// Global Colours
$primary: lavender;
$secondary: rgb(255, 182, 193);
$white: rgb(246, 248, 250);
$error: salmon;
