@import "_base";
@import "_variables";

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.4;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  color: black;
  line-height: 2;
}

::-moz-placeholder {
  opacity: 1;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

label {
  color: black;
  margin-bottom: 0.5rem;
  display: block;
}

.user-name,
.weekly-budget {
  color: lightseagreen;
  font-weight: bold;
}

.select {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  padding: 1em 0.5em;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: $br1;
}

.select {
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 80%;
}

.select::-ms-expand {
  display: none;
}

.select:hover {
  border-color: #888;
}

.select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select option {
  font-weight: normal;
}

.header-wrapper {
  background-color: lightpink;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0.75rem;
}

.main {
  width: 100%;
}

.sidebar {
  display: flex;
  height: 100vh;
  width: 100px;
  /* flex-direction: revert; */
  background-color: rgba(0, 0, 0, 0.9);
  // position: absolute;
  text-align: center;
  justify-content: center;
  padding-top: 3rem;
  margin-right: 4rem;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.sidebar li {
  font-size: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  height: 5rem;
}

.sidebar li.home::before {
  content: "";
  background: url("../img/home.svg") no-repeat;
  height: 100%;
  width: auto;
  display: flex;
  background-size: 20%;
  /* align-items: center; */
  /* justify-content: center; */
  background-position: center;
}

.sidebar li.sliders::before {
  content: "";
  background: url("../img/sliders.svg") no-repeat;
  height: 100%;
  width: auto;
  display: flex;
  background-size: 20%;
  /* align-items: center; */
  /* justify-content: center; */
  background-position: center;
}

.sidebar li.buoy::before {
  content: "";
  background: url("../img/life-buoy.svg") no-repeat;
  height: 100%;
  width: auto;
  display: flex;
  background-size: 20%;
  /* align-items: center; */
  /* justify-content: center; */
  background-position: center;
}

.sidebar li.power::before {
  content: "";
  background: url("../img/power.svg") no-repeat;
  height: 100%;
  width: auto;
  display: flex;
  background-size: 20%;
  /* align-items: center; */
  /* justify-content: center; */
  background-position: center;
}

.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.sidebar i {
  color: white;
}

element {
  margin-bottom: 0.6rem;
}

.container {
  background: transparent;
  width: 1180px;
  margin: 0 auto;
  margin-top: 4rem;
  /* padding-left: 6rem; */
}

//Helpers
.mt {
  margin-top: 2rem;
}

.mb {
  margin-bottom: 1rem;
}

//Heading styles

h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: bold;
}

//Section

.section {
  position: relative;
}

.primary {
  background-color: $primary;
}

//Hero Wrapper

.wrapper {
  // background: linear-gradient(90deg, #f1f1f1 0%, #f2f2f2 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
  height: 100vh;
  display: flex;
}

.hero-right a {
  font-size: 0.8rem;
  color: gray;
}

.hero-right {
  background-color: rgba(255, 255, 255, 0.2);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
  grid-gap: 2rem;
}

.grid {
  display: flex;
  flex-flow: column wrap;
  height: 200px;
}

.one {
  flex: 0 0 100%;
  width: 30%;
  background: red;
}

.grid-item-1 {
  background-color: lightblue;
  padding: 2rem;
}
.grid-item-2 {
  background-color: lightseagreen;
  padding: 2rem;
}
.grid-item-3 {
  background-color: lightblue;
  padding: 2rem;
}
.grid-item-4 {
  background-color: lightseagreen;
  padding: 2rem;
}
// .row {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   width: 100%;
// }

// .col-a {
//   background-color: rgba(0, 0, 0, 0.9);
//   padding: 1rem 3rem;
//   margin: 0.5rem;
//   color: white;
//   display: flex;
//   flex-basis: 100%;

// }

// .col-b {
//   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
//   background-color: #fafafa;
//   height: 500px;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   margin: 0.5em;
//   padding: 2rem 3rem;
// }

// .col-c {
//   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
//   background-color: #fafafa;
//   height: 250px;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   margin: 0.5em;
//   padding: 2rem 3rem;
// }

// .col-d {
//   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
//   background-color: #fafafa;
//   height: 250px;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   margin: 0.5em;
//   padding: 2rem 3rem;

// }

// .col-e {
//   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
//   background-color: #fafafa;
//   height: 250px;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   margin: 0.5em;
//   padding: 2rem 3rem;

// }

// .columns {
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
//   flex-basis: 50%;
// }

// .grid-wrapper {
//   display: grid;
//   grid-gap: 1rem;
//   grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto [col4-end];
//   grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row5-start] auto [row6-start] auto [row6-end];
//   //background-color: #f2f2f2;
//   height: 600px;
// }

// .box {
//   //background-color: transparent;
//   padding: 2rem;
//   /* font-size: 150%; */
// }

// .box-db {
//   background-color: rgba(0, 0, 0, 0.03);
//   padding: 2rem;
//   /* font-size: 150%; */
// }

// .a {
//   grid-column: col1-start / col2-end;
//   grid-row: row1-start;
//   background-color: black;
// }

// .b {
//   grid-column: col1-start / col2-start;
//   grid-row: row2-start / row3-end;
// }

// .c {
//   grid-column: col2-start / col2-end;
//   grid-row: row2-start / row3-start;
// }

// .d {
//   grid-column: col2-start;
//   grid-row: row3-start;
// }

// .e {
//   grid-column: col3-start / col4-start;
//   grid-row: row3-start;
// }

#expense-totals {
  font-size: 300%;
}

.a h2 {
  color: whitesmoke;
  font-weight: lighter;
}

input#amount {
  width: 100%;
  margin-right: 0.5rem;
}

/* Menu */

ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

li a,
.dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

//Chart

.chart-container {
  display: flex;
  justify-content: center;
}

//Alert Box Styles

.messages {
  display: flex;
  width: 100%;
  height: 3rem;
  /* align-content: center; */
  align-items: center;
  color: salmon;
  font-size: 0.9rem;
  font-weight: bold;
}

.alert {
  color: white;
  z-index: 999;
  padding: 1rem;
  margin: 0 auto;
}

.success::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f00c";
  color: white;
}

.error::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f071";
  color: white;
}

input {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  line-height: 3;
  padding: 1em 0.5em;
  width: 100%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* border-radius: 3px; */
  background: 0;
  outline: none;
  border-bottom: 0;
}

input[type="button"] {
  background-color: green;
  //background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

  border: none;
  color: white;
  padding: 0px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  width: 120px;
}

input[type="button"]:hover {
  outline: none;
  opacity: 1;
  color: #fff;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.1);
}

/* Show red borders when filled, but invalid */
// input[data-state="invalid"] {
//   border-color: hsl(0, 76%, 50%);
//   border-width: 2px;

// }

// /* Show green borders when valid */
// input[data-state="valid"] {
//   border-color: hsl(120, 76%, 50%);
//   border-width: 2px;
// }

.inp {
  border-bottom: 1px solid grey;
}

.on {
  border-color: hsl(120, 76%, 50%);
  border-width: 2px;
}

/* Button Styles */

.full-width {
  width: 100%;
}

.button {
  background-color: #c5e2d9;
  border: none;
  color: black;
  padding: 21px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
}

.button:hover {
  outline: none;
  opacity: 1;
  color: #fff;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.1);
}

.tag {
  opacity: 0.2;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
}

.enabled {
  opacity: 1;
  cursor: pointer;
}

img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.select-box {
  margin-bottom: 3rem;
}

.input-amount {
  display: flex;
}

/* Style Table */

table * {
  border: 1px solid #f2f2f2;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  color: black;
  min-width: 100px;
}

tr {
  cursor: pointer;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

tr:hover > td {
  color: white;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.02);
}

tr:hover {
  background-color: salmon;
}

tfoot tr {
  background-color: #c5e2d9;
}

tfoot tr td {
  color: white;
}

tfoot tr:hover {
  background-color: transparent;
}

// Tags

.expense-tags {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.expense-tags > span {
  background: lightseagreen;
  margin-right: 0.5rem;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}

.loading {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.signup {
  display: flex;
  flex-direction: column;
}

.user-password {
  display: flex;
  align-items: center;
}

.pass-reveal-first,
.pass-reveal-second {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

// .icon-off {
//   content: "";
//   background: url("../img/eye-off.svg") no-repeat;
//   height: 15px;
//   width: 15px;
//   display: flex;
//   //background-size: 20%;
//   /* align-items: center; */
//   /* justify-content: center; */
//   background-position: center;
// }

// .icon-on {
//   content: "";
//   background: url("../img/eye-on.svg") no-repeat;
//   height: 15px;
//   width: 15px;
//   display: flex;
//   //background-size: 20%;
//   /* align-items: center; */
//   /* justify-content: center; */
//   background-position: center;
// }

// .expense-tags>span::before {
//   content: '';
//   background: lightseagreen url(/008bef8a46305ef9eed3e6aaacb2fddb.svg) no-repeat;
//   height: 2rem;
//   width: 2rem;
//   display: flex;
//   background-size: 60%;
//   background-position: center;
//   border-radius: 50%;
//   margin-right: .3rem;
// }

// .household::before {
//   content: '';
//   background: lightseagreen url(/008bef8a46305ef9eed3e6aaacb2fddb.svg) no-repeat;
//   height: 2rem;
//   width: 2rem;
//   display: flex;
//   background-size: 60%;
//   background-position: center;
//   border-radius: 50%;
//   margin-right: .3rem;
// }

// .education::before {
//   content: '';
//   background: lightseagreen url(/008bef8a46305ef9eed3e6aaacb2fddb.svg) no-repeat;
//   height: 2rem;
//   width: 2rem;
//   display: flex;
//   background-size: 60%;
//   background-position: center;
//   border-radius: 50%;
//   margin-right: .3rem;
// }

// #chart-container {
//   position: relative;
// }

//Settings Wizard

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wz-form-wrapper {
  display: flex;
  justify-content: center;
}

.wz-form-wrapper label {
  margin: 0 0.3rem 0 0;
}

fieldset {
  /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.05);
  border: 0;
  min-width: 600px;
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.wz-input-group {
  display: flex;
  justify-content: center;
  height: 20vh;
  align-items: center;
}

.wz-input {
  display: flex;
  margin-right: 1rem;
}

.fs-hide {
  display: none;
}

.fs-show {
  //display: block;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.next {
  background-color: black;
}

.wz-bullet-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;
}

.wz-bullet-cont > div {
  height: 15px;
  width: 15px;
  margin: 20px 10px;
  border-radius: 100px;
  z-index: 2;
}

.wz-bullet {
  background-color: lightgrey;
}

.wz-bullet-active {
  background-color: green !important;
}

input#amount {
  width: 50%;
  margin-right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: #c5e2d9;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #c5e2d9;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;

      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }

      & + label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }

    &:not(.switch) {
      width: 21px;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  input[type="checkbox"] {
    &:not(.switch) {
      border-radius: 7px;

      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --r: 43deg;
      }
    }

    &.switch {
      width: 38px;
      border-radius: 11px;

      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }

      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: 0.6;
          }
        }
      }
    }
  }

  input[type="radio"] {
    border-radius: 50%;

    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }

    &:checked {
      --s: 0.5;
    }
  }
}
